<launch>
  <include file="$(find motoman_gazebo)/launch/motomini/motomini_with_gripper_and_kinectv2.launch">
    <arg name="use_rviz" value="false" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="5" />
    <arg name="pkg" value="motoman_moveit_bringup" />
    <arg name="file" value="motomini_with_gripper_moveit_planning_execution.launch" />
    <arg name="value" value="rviz_config:=$(find motoman_moveit_bringup)/launch/motomini/rviz/moveit_motomini_with_kinectv2.rviz" />
  </include>
</launch>
